.Corpo_pesquisa{
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding: 1% 3%;
    align-items: center;
    position: relative;
    margin-right: 2px;
    
}



.Corpo_pesquisa h4{
    color: #F48E28;
}

.Corpo_pesquisa button{
    border: 0;
    position: absolute;
    right: 0;
    padding: 1% 2%;
    color: white;
    border-radius: 100%;
    background-color: #F48E28;
    transition: all 500ms ease;
}

.Corpo_pesquisa button:hover{
    transition: all 500ms ease;
    cursor: pointer;
    color: gray;
    background-color: #e3ac75;
}


.Corpo_pesquisa .Descri{
    display: flex;
    flex-direction: column;
    gap: 5%;
}